# Install asdf-vm plugins and tools.
if command -v asdf > /dev/null; then
    if ! asdf plugin-list | grep golang > /dev/null; then
        echo "Installing asdf plugin golang"
        asdf plugin-add golang
    fi
  asdf install
  export GOBIN=$(dirname $(asdf which go))
  export GOROOT=$(dirname $GOBIN)
fi
export GOPATH=$HOME/go
export GO111MODULE=on
export PATH="${PATH}:${GOPATH}:${GOROOT}/bin"
export VENDOR=zloeber
export APP=githubapp